<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <link href='https://fonts.googleapis.com/css?family=Exo+2:400,200,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Neuton:800' rel='stylesheet' type='text/css'>    
    <!--     ///////////// Icon font /////////////// -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Fugaz+One' rel='stylesheet' type='text/css'>
   
  <!-- Latest compiled and minified CSS  -->
  <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" href="style.css">
  
  <title>Map Creeper</title>
</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">WDI05 Project 2</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
    	<form id="instaSearch" class="navbar-form navbar-left" action="/instagram/search" method="GET" role="search">

	<div class="form-group">
		<input type="text" class="form-control" id="" placeholder="Instagram Search" name="search">
		<input type="text" class="form-control" id="latitude" name="latitude">
		<input type="text" class="form-control" id="longitude" name="longitude">
		<button type="submit" class="btn btn-default">CREEP!</button>
	</div>
	
</form>

     
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Erika Pallas Moore</a></li>
      </ul>
    </div>
  </div>
</nav>
<%- body %>

	<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
 	<script type="text/javascript" src="/geolocater.js"></script>
 	<script type="text/javascript" src="/instaSearch.js"></script>

</body>
</html>