/*.bodybg {
	text-align: center;
	color: #664444;
}
.footer {
	font-color: red;
}*/

#map {
	height: 500px;
	width: 800px;
	margin: auto 0;

}




.contacticon {
    font-size: 2em;
}

.contacticon:hover {
    font-size: 2.05em;
}

#iconrow {
    letter-spacing: 6px;
}

